body{
    font-family: Tahoma, Geneva, sans-serif;
    width: 330px;
    font-size: 14px;
}
article {
    border-bottom: 1px dotted #888888;
}
article::after{
    content: "";
    display: block;
    clear:both;
}
article:last-of-type {
    border-bottom: none;
}

img{
    width: 120px;
    border: 1px solid #000000;
    float: left;
    margin:4px;
    padding: 2px;
}

h5{
    margin: 0px;
}
p{
    margin: 0px;
    font-size:12px;
}
.time{
    color: #888888;
    font-size:10px;
    font-weight: bold;
    margin: 2px;
}
